.ant-modal-header {
    background-color: #1A3150;
}
.anticon-exclamation-circle {
    width: 3em!important;
}
.ant-modal-title, .anticon-close {
    color: #f2eff5;
}
.ant-modal-body {
    background-color: #fff;
}
.ant-modal-footer {
    background-color : #c6c5ca;
}
.ant-input {
    border-style: none none solid none;
    background-color: #fff;
    border-color: darkgray;
    border-radius: 0px!important;
    width: 400px;
}
.ant-btn {
    border-radius: 35px;
    color: #1A3150;
    border-color:#1A3150;
    font-size: x-small;
}
.ant-btn:hover {
    color:white;
    background-color: #1A3150 ;
}
.ant-input-suffix {
    padding: 0px 25px 15px 0px!important;
}
.anticon-user, .anticon-lock {
    padding: 0px 0px 0px 0px;
}
.ant-form-item {
    margin-bottom: 10px;
}
.ant-form-item-children, .ant-form-item-required {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0px!important;
    color: #6d4f26;
}