.ant-modal-header {
    background-color: #012340;
}
.anticon-exclamation-circle {
    width: 3em!important;
}
.ant-modal-title, .anticon-close {
    color: #f2eff5;
}
.ant-modal-body {
    background-color: #f5f5f9;
}
.ant-modal-footer {
    background-color : #c6c5ca;
}
.ant-input {
    background-color: #f1eff7;
    width: 310px;
}
.has-error .ant-input, .has-error .ant-input:hover {
    background-color: #f1eff7;
}
.ant-btn {
    background-color: #f1eff7;
}
.ant-input-suffix {
    padding: 0px 25px 15px 0px!important;
}
.anticon-user, .anticon-lock {
    padding: 0px 0px 0px 0px;
}
.ant-form-item {
    margin-bottom: 10px;
}
.ant-form-item-children, .ant-form-item-required {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0px!important;
    color: #6d4f26;
}